*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

body{

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 0.5%;
}

.firstNav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4.5%;
    height: 60px;
    /* background: red; */
}

.firstNav>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.firstNav>div>a{
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.firstNav>div>p{
    margin-right: 15px;
}

.firstNav>div>p>i{
    font-size: 15px;
    margin-right: 5px;
    color: rgb(6, 108, 197);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 4%;
    box-shadow: 1px -0.5px 2px rgba(0, 0, 0, 0.5);

}
header>h1{
    font-size: 25px;
    color: rgb(6, 108, 197);

}

header>h1>span{
    color: black;
}

.middleNav{
    width: 40%;
    text-align: center;
}

.middleNav>a{
    position: relative;
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    transition: all 0.5s ease;
}

.middleNav>a:hover::before, .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background:rgb(6, 108, 197);
    bottom: -22px;
}

.middleNav>a>i{
    margin-left: 7px;
    font-size: 10px;
}

header>button{
    color: white;
    background: rgb(6, 108, 197);
    width: 135px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.5s;
    box-shadow: inset 1px 1px 2px rgb(255, 253, 253);
}

header>button:hover{
    background: #333;
}
.contactFeed{
    position: relative;
    width: 100%;
    min-height:50vh;
    background:linear-gradient(rgba(6, 108, 197, 0.72),rgba(6, 108, 197, 0.72)), url(contact-doctor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactFeed>h1{
    font-size: 35px;
    color: white; 
}
.contactFeed>button{
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 70px;
    height: 30px;
    color: white;
    background: rgb(6, 108, 197);
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.contactFeed>button:hover{
    background: #333;
    
}
.current{
    width: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    margin-top: 25px;
    letter-spacing: 0.9px;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 7%;
}

.contact-board{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 50px 40px 30px 20px;
    margin-bottom: 50px;
    border-radius: 10px;

}
.contact-board>img{
    width: 45%;
    object-fit: cover;
    object-position: center;
    
}
.contact-board>div{
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 2.5;

   
}

.contact-board>div>h1{  
    position: relative;
    font-size: 35px;
}

.contact-board>div>h1::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 3px;
    background: rgb(6, 108, 197);
    bottom: 0;
    left: 0;

}

.contact-board>div>form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;

}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;

}
.contact-board>div>form>div>input{
    width: 234px;
    height: 50px;
    border: solid rgb(171, 165, 165) 1px;
    border-radius: 4px;
    padding-left: 10px;
    outline: none;
}
#textarea{
    max-width: 500px;
    max-height: 100px;
    resize: none;
    border: solid rgb(171, 165, 165) 1px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 25px;
    outline: none;
    border-radius: 3px;
}

.sendButton{
    width: 500px;
    height: 45px;
    background: rgb(6, 108, 197);
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.5s;
    box-shadow: inset 1px 1px 2px rgb(255, 253, 253);
}

.sendButton:hover{
    background: #333;
}

.focus:focus{
    border: solid rgb(6, 108, 197) 1px;
}

#check{
    border: solid rgb(6, 108, 197) 1px;
}

.card-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;

}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgb(6, 108, 197);
    width: 370px;
    height: 130px;
    border-radius: 10px;
    letter-spacing: 1px;
}
.card>i{
    font-size: 30px;
    color: white;
    margin-right:10px;
}

.info>h4{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.info>p{
    font-size: 13px;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: rgb(6, 108, 197);
    color: white;
    margin-top: 200px;
    padding: 0 4%;
}
.foot-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 80%;
    width: 100%;
    padding-top:15px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 800px;
    height: 80%;
}

.about-title{
    font-size: 18px;
    margin-bottom: 60px;
    
}

.about-text{
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.5;
    width: 100%;
}
.icons{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
}

.icons>i:hover{
    color: #333;
}
.quick-link{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 80%;
}
.quick-link>h3{
    margin-bottom: 60px;
    font-size: 18px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    line-height: 2.5;
    cursor: pointer;
}
.links>ul>li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.links>ul>li>i{
    margin-right: 5px;
    font-size: 10px;
}
.open-hours{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 80%;

}

.open-hours>h3{
    margin-bottom:60px ;
    font-size: 18px;
}
.hours-text{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hours{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 80%;
    width: 820px;
}

.newsletter>h3{
    font-size: 18px;
    margin-bottom: 60px;
}

.newsletter>p{
    line-height: 1.5;
    font-size: 14px;
}
.about-title,.open-hours>h3,.quick-link>h3,.newsletter>h3{
    position: relative;
}

.about-title::after,.open-hours>h3::after, .quick-link>h3::after, .newsletter>h3::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: rgb(255, 253, 253);
    bottom: -30px;
    left: 0;
}

.group{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group>input{
    width: 220px;
    height: 45px;
    border: solid white 1px;
    background: transparent;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

.group>input::placeholder{
    color: white;
}

.group>button{
    height: 45px;
    border: none;
    width: 50px;
    background: white;
    color: rgb(6, 108, 197);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -10px;
    cursor: pointer;

}
.group>button>i{
    color: rgb(6, 108, 197);
    font-size: 20px;
}

.group>button>i:hover{
    color: #333;
}

.foot{
    width: 100%;
    text-align: center;
    font-size: 15px;
    background: rgb(5, 81, 147);
    height: 50px;
    color: white;
    padding: 20px 0;
    letter-spacing: 1px;
}